h1 {
    font-size: 3rem
}
h2 {
        font-size: 2.5rem
}
h3 {
        font-size: 2rem
}
.part-triki { 
    page-break-before: always
}
.sheet {
    padding:40px;
}
.part-audios {
    display: none;
}